DB_USERNAME=input my DB_USERNAME
DB_PASSWORD=input my DB_PASSWORD
DB_DBNAME=input my DB_DBNAME
DB_HOST=input my DB_HOST
S3_BUCKETNAME=input my S3_BUCKETNAME
S3_REGION=input my S3_REGION
S3_POOLID=input my S3_POOLID
T_TOKEN_SECRET=input my T_TOKEN_SECRET
BCRYPTO_SECRET=input my CRYPTO_SECRET